[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.4"
djangorestframework = "~=3.14"
djangorestframework-simplejwt = "~=5.2"
gunicorn = "~=20.1"

[dev-packages]
black = "~=23.3"
flake8 = "~=6.0"
isort = "~=5.12"
pytest = "~=7.3"
requests = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
drf-yasg = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
